@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
/* apparently this font is better for people with visual impairment (braille website) */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
       url('/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}